<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pages</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" 
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
    crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <h1> Makan dulu aje</h1>
        <input name="makan" placeholder="Masukkan nama Makanan yang kamu Inginkan" type="text">
        <div id="notification"></div>
        <button 
            hx-include="[name=makan]"
            hx-trigger="click" 
            hx-post="http://localhost:4000/makanan"
            hx-target="#notification">
         ADD </button>
        <ul hx-get="http://localhost:4000/makanan" hx-trigger="load delay:2s">
            
        </ul>
    </section>
</body>
</html>